/* 弹框样式 big medium small mini */
.big_dialog {
  .el-dialog {
    position: absolute;
    bottom: 0px;
    margin: 0 auto 0px;
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
    background: white;
    overflow: auto;
    min-width: 200px;

    .el-button+.el-button {
      margin-left: 5px;
    }
  }

  .el-dialog__header {
    padding: 6px 20px 6px;
    background: #3892d4;

    .el-dialog__title {
      color: #fff;
      font-size: 14px;
    }

    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }

    .el-dialog__headerbtn {
      top: 7px;
    }
  }

  .el-dialog__body {
    width: 100%;
    top: 36px;
    bottom: 49px;
    position: absolute;
    overflow: auto;
    padding: 16px 20px;
  }

  .el-dialog__footer {
    width: 100%;
    padding: 8px 18px 0px;
    border-top: 1px solid #409EFF;
    bottom: 8px;
    position: absolute;
  }

  .el-form {
    height: 100%;
    position: relative
  }

  .table {
    height: 100%;
    padding-bottom: 30px;

    .el-table .cell {
      height: 30px;
    }

    .pages {
      position: absolute;
      height: 30px;
      bottom: 0px;
      width: 100%;
      text-align: right;
      border-bottom: 0px;

      .el-pagination {
        border: 1px solid #ebeef5;
        border-top: none
      }
    }
  }

  .el-form-item {
    margin-bottom: 10px;

    .el-form-item__label {
      font-size: 12px;
      text-align: right;
    }
  }

  .el-radio {
    line-height: 28px;
  }

  .el-checkbox {
    line-height: 28px;
  }

  .el-switch {
    line-height: 28px;
    height: 28px;
  }

  .el-slider {
    .el-slider__runway {
      margin: 11px 0;
    }
  }

  .el-rate span i {
    line-height: 28px;
  }

  .el-badge {
    line-height: 28px;
  }

  .el-progress {
    line-height: 28px;
  }

  .el-steps {
    line-height: 28px;
  }

  .upload-demo {
    line-height: 28px;
  }

  .el-select {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .singleColumn {
    padding-right: 5%;

    .el-input {
      width: 100% !important;
    }
  }

  .el-transfer-panel {
    width: 44%;
  }

  .el-transfer__buttons {
    padding: 0px 1%;
    width: 12%;

    button {
      margin: 10px auto !important;
    }
  }

  .el-transfer {
    margin-left: 5%;
  }

  .searchTable {
    height: 100%;
    overflow: auto;

    .table {
      width: 100%;
      height: calc(100% - 40px);
      overflow: auto;
      box-sizing: border-box;

      .pages {
        width: 100%;
        border: none;
        bottom: 1px;
      }
    }

    .el-row {
      padding: 0;
      height: 30px;
      overflow: hidden;
      margin-bottom: 10px;
      border: none;

      .el-col {
        height: 100%;


        .el-form-item {
          height: 100%;
          width: 100%;
          margin: 0;

          .el-form-item__label {
            float: left;
            height: 28px;
            line-height: 28px;
          }

          .el-form-item__content {
            height: 100%;
            width: 75%;
            line-height: 30px;

            .el-input {
              height: 100%;

              .el-input__inner {
                height: 26px;
                line-height: 26px;
              }
            }
          }
        }

      }
    }
  }
}

.medium_dialog {
  .grant .cell {
    height: 28px !important;

    .el-input-number__decrease {
      margin-top: 0;
    }
  }

  .el-dialog {
    position: absolute;
    bottom: 0px;
    margin: 0 auto 0px;
    width: 38%;
    height: 50%;
    left: 31%;
    top: 15%;
    background: white;
    overflow: auto;
    min-width: 200px;
  }

  .el-dialog__header {
    padding: 6px 20px 6px;
    background: #3892d4;

    .el-dialog__title {
      color: #fff;
      font-size: 14px;
    }

    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }

    .el-dialog__headerbtn {
      top: 7px;
    }
  }

  .el-dialog__footer {
    width: 100%;
    padding: 8px 18px 0px;
    border-top: 1px solid #409EFF;
    bottom: 8px;
    position: absolute;
  }

  .el-dialog__body {
    width: 100%;
    top: 36px;
    bottom: 49px;
    position: absolute;
    overflow: auto;
    padding: 16px 20px;
  }

  .el-form {
    height: 100%;
    overflow: auto;
  }

  .formcenter {
    padding-left: 5%;
    padding-right: 20%;

    .el-input {
      width: 100% !important;
    }
  }

  .el-radio {
    line-height: 28px;
  }

  .el-checkbox {
    line-height: 28px;
  }

  .el-switch {
    line-height: 28px;
    height: 28px;
  }

  .el-slider {
    .el-slider__runway {
      margin: 11px 0;
    }
  }

  .el-rate span i {
    line-height: 28px;
  }

  .el-badge {
    line-height: 28px;
  }

  .el-progress {
    line-height: 28px;
  }

  .el-steps {
    line-height: 28px;
  }

  .upload-demo {
    line-height: 28px;
  }

  .el-form-item__label {
    font-size: 12px;
    text-align: right;
  }

  .el-form-item {
    margin-bottom: 10px;

    .el-form-item__content {
      line-height: 28px;
      width: 56%;
      margin-left: 0 !important;
      float: left;

      .el-select {
        width: 100%;

        .el-input__inner {
          height: 28px;
          line-height: 28px;
        }

        .el-input__icon {
          line-height: 28px;
        }
      }

      .el-input {
        .el-input__inner {
          height: 28px;
          line-height: 28px;
          font-size: 12px;
        }
      }
    }
  }

  .el-button+.el-button {
    margin-left: 5px;
  }

  .el-select {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-transfer-panel {
    width: 44%;
  }

  .el-transfer__buttons {
    padding: 0px 1%;
    width: 12%;

    button {
      margin: 10px auto !important;
      padding: 8px;
    }
  }

  .el-transfer {
    margin-left: 12%;
  }
  .searchTable {
    height: 100%;
    overflow: auto;

    .table {
      width: 100%;
      height: calc(100% - 40px);
      overflow: auto;
      box-sizing: border-box;
      padding-bottom: 30px;
      position: relative;
      .pages {
        width: 100%;
        border: none;
        bottom: 1px;
        height: 30px;
        .el-pagination {
            border: 1px solid #ebeef5;
            border-top: none
          }
      }
    }

    .el-row {
      padding: 0;
      height: 30px;
      overflow: hidden;
      margin-bottom: 10px;
      border: none;

      .el-col {
        height: 100%;


        .el-form-item {
          height: 100%;
          width: 100%;
          margin: 0;

          .el-form-item__label {
            float: left;
            height: 28px;
            line-height: 28px;
          }

          .el-form-item__content {
            height: 100%;
            width: 75%;
            line-height: 25px;

            .el-input {
              height: 100%;

              .el-input__inner {
                height: 28px;
                line-height: 28px;
              }
            }
          }
        }

      }
    }
  }
}

.small_dialog {
  .grant .cell {
    height: 28px !important;

    .el-input-number__decrease {
      margin-top: 0;
    }
  }

  .el-dialog {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 30%;
    height: 45%;
    left: 35%;
    top: 20%;
    background: white;
    overflow: auto;
    min-width: 200px;
  }

  .el-dialog__header {
    padding: 6px 20px 6px;
    background: #3892d4;

    .el-dialog__title {
      color: #fff;
      font-size: 14px;
    }

    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }

    .el-dialog__headerbtn {
      top: 7px;
    }
  }

  .el-dialog__footer {
    width: 100%;
    padding: 8px 18px 0px;
    border-top: 1px solid #409EFF;
    bottom: 8px;
    position: absolute;
  }

  .el-dialog__body {
    width: 100%;
    top: 36px;
    bottom: 49px;
    position: absolute;
    overflow: auto;
    padding: 16px 20px;

  }

  .el-form {
    height: 100%;
    overflow: auto;
  }

  .formcenter {
    padding-left: 5%;
    padding-right: 6%;

    .el-input {
      width: 100% !important;
    }
  }

  .el-form-item__label {
    font-size: 12px;
    text-align: right;
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item {
    margin-bottom: 10px;

    .el-form-item__content {
      line-height: 28px;
      width: 56%;
      margin-left: 0 !important;
      float: left;

      .el-select {
        width: 100%;

        .el-input__inner {
          height: 28px;
          line-height: 28px;
        }

        .el-input__icon {
          line-height: 28px;
        }
      }

      .el-input {
        .el-input__inner {
          height: 28px;
          line-height: 28px;
          font-size: 12px;
        }
      }
    }
  }

  .el-radio {
    line-height: 28px;
  }

  .el-checkbox {
    line-height: 28px;
  }

  .el-switch {
    line-height: 28px;
    height: 28px;
  }

  .el-slider {
    .el-slider__runway {
      margin: 11px 0;
    }
  }

  .el-rate span i {
    line-height: 28px;
  }

  .el-badge {
    line-height: 28px;
  }

  .el-progress {
    line-height: 28px;
  }

  .el-steps {
    line-height: 28px;
  }

  .upload-demo {
    line-height: 28px;
  }

  .el-button+.el-button {
    margin-left: 5px;
  }

  .el-select {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .el-transfer-panel {
    width: 44%;

    .el-checkbox__label {
      font-size: 12px !important
    }
  }

  .el-transfer__buttons {
    padding: 0px 1%;
    width: 12%;

    button {
      margin: 10px auto !important;
      padding: 2px;
    }
  }
}

.mini_dialog {
  .grant .cell {
    height: 28px !important;

    .el-input-number__decrease {
      margin-top: 0;
    }
  }

  .el-dialog {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 19%;
    height: 23%;
    left: 40%;
    top: 30%;
    background: white;
    overflow: auto;
    min-width: 200px;
  }

  .el-dialog__body {
    width: 100%;
    top: 36px;
    bottom: 49px;
    position: absolute;
    overflow: auto;
    padding: 16px 20px;
  }

  .el-dialog__header {
    padding: 6px 20px 6px;
    background: #3892d4;

    .el-dialog__title {
      color: #fff;
      font-size: 14px;
    }

    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }

    .el-dialog__headerbtn {
      top: 7px;
    }
  }

  .el-dialog__footer {
    width: 100%;
    padding: 8px 18px 0px;
    border-top: 1px solid #409EFF;
    bottom: 8px;
    position: absolute;
  }

  .el-form {
    height: 100%;
    overflow: auto;
  }

  .formcenter {
    padding-right: 10%;

    .el-input {
      width: 100% !important;
    }
  }

  .el-form-item__label {
    font-size: 12px;
    text-align: right;
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item {
    margin-bottom: 10px;

    .el-form-item__content {
      line-height: 28px;
      width: 56%;
      margin-left: 0 !important;
      float: left;

      .el-select {
        width: 100%;

        .el-input__inner {
          height: 28px;
          line-height: 28px;
        }

        .el-input__icon {
          line-height: 28px;
        }
      }

      .el-input {
        .el-input__inner {
          height: 28px;
          line-height: 28px;
          font-size: 12px;
        }
      }
    }
  }

  .el-radio {
    line-height: 28px;
  }

  .el-checkbox {
    line-height: 28px;
  }

  .el-switch {
    line-height: 28px;
    height: 28px;
  }

  .el-slider {
    .el-slider__runway {
      margin: 11px 0;
    }
  }

  .el-rate span i {
    line-height: 28px;
  }

  .el-badge {
    line-height: 28px;
  }

  .el-progress {
    line-height: 28px;
  }

  .el-steps {
    line-height: 28px;
  }

  .upload-demo {
    line-height: 28px;
  }

  .el-button+.el-button {
    margin-left: 5px;
  }

  .el-select {
    display: inline-block;
    position: relative;
    width: 100%;
  }
}
