.cover_dialog{
  .el-dialog__body{
    width: 100%;
    top: 36px;
    bottom: 49px;
    position: absolute;
    overflow: auto;
    padding: 16px 20px;

  }
  .el-table .cell {
    height: 30px ;
  }
  .el-dialog{
    position: absolute;
    bottom: 0px;
    margin: 0 auto 0px;
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
    background: white;
    overflow: auto;
    min-width: 200px;
  }
  .cover_dialog_body{
    min-width: 400px;
    height: 100%;
  }
  .divTableCss{
    height: 90%;
  }
  .el-dialog__header{
    padding: 6px 20px 6px;
    background: #3892d4;
    .el-dialog__title{
      color: #fff;
      font-size: 14px;
    }
    .el-dialog__headerbtn .el-dialog__close{
      color: #fff;
    }
    .el-dialog__headerbtn{
      top: 7px;
    }
  }
  .el-dialog__footer{
    width:100%;
    padding: 8px 18px 0px;
    border-top: 1px solid #409EFF;
    bottom: 8px;
    position: absolute;
  }
  .el-form-item__label{
    font-size: 12px;
    text-align: right;
  }

  .el-select {/*下拉框*/
    display: inline-block;
    position: relative;
    width: 100%;
 }
 .singleColumn{
  padding-left: 5%;
  padding-right: 25%;
   .el-input {
     width: 100% !important;
   }
 }
 .el-form-item {
    margin-bottom: 10px;
}
/*穿梭框*/
.el-transfer-panel__body {
    overflow: auto;
    top: 40px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: auto;
}
.el-transfer-panel {
    border: 1px solid #ebeef5;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    min-width: 100px;
    max-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 45%;
    height: 100%;
}
.el-transfer__buttons {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    width: 10%;
    min-width: 30px;
}
.el-transfer {
    font-size: 14px;
     overflow: auto; 
    min-width: 600px;
    height: 100%;
}
.el-transfer-panel__list {
    margin: 0;
    padding: 6px 0;
    list-style: none;
    height: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*带按钮的组合框*/
.combobtnBox{
  padding-bottom: 10px;

  .selectTitle{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
  }
  .el-select {
    display: inline-block;
    position: relative;
    width: 50%;
  }
   .el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100% !important;
  }
  .inputChild{
    width: 50% !important;
  }
 
}
/*高级搜索样式*/
.MultiSearchBox{
    padding-bottom: 10px;
  .condition{
    width: 96px;
    display: inline-block;
  }
  .conditionSelect{
    width: 80px  !important;
  }
  .conditionSelect.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 80px !important;
  }
  .el-select {
    display: inline-block;
    position: relative;
    width: 50%;
  }
   .el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100% !important;
  }
  .inputChild{
    width: 50% !important;
  }
}
}

.paramsAlert{
  .el-dialog-tableCss{
    width: 100%;height: 100%;border-bottom: 1px solid #ebeef5 !important;
  }
  .el-dialog-buttonCss{
    margin: 3px 0 0 5px;background-color: #e3e3e3;border-color: #e3e3e3;color: #666;
  }
  .el-dialog-inputCss{
    width: 70%;
  }
  .el-dialog-btnCss{
    float: right;
    margin-top: 3px;
  }
}
 .WorkScreeing{
   .el-tabs--border-card>.el-tabs__header {
    background-color: #ffffff;
    border-bottom: 1px solid #d6d5d5;
    margin: 0;
    height: 28px;
  }
  .WorkScreeing_dialog{
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
    background: white;
    overflow: auto;
    min-width: 200px;
  }
  .WorkScreeing_dialog .el-dialog{
    height: 666px;
    margin-top: 8vh
  }
  .WorkScreeing_dialog .el-dialog__header {
    padding: 6px 20px 6px;
    background: #3892d4;
}
.WorkScreeing_dialog .el-dialog__header .el-dialog__title {
    color: #fff;
    font-size: 14px;
}
.WorkScreeing_dialog  .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}
.WorkScreeing_dialog .el-dialog__header .el-dialog__headerbtn {
    top: 7px;
}
  .el-tabs__item {
    padding: 0px 20px;
    height: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #303133;
    position: relative;
  }
 .el-tabs--border-card>.el-tabs__content {
    padding: 0px;
 }
 .WorkScreeing_dialog .el-dialog__body {
    height: 620px;
    padding: 0px 4px;
    margin-top: 4px;
  }
  .WorkScreeing_dialog .el-dialog__footer {
    padding: 8px 54px 0px;
    border-top: 1px solid #409EFF;
    margin-top: 50px;
 }
  .bar{
    padding: 4px 4px 4px;
   }
   .el-tabs--border-card {
    background: #fff;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  }
  .example{
        border: 1px solid #c2c2c2;
        margin-top: 13px;
        padding: 10px 6px 6px 6px;
     /*   padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 6px*/
  }
  .titleP{
    margin-top: -22px;
    margin-left: 5px;
    position: absolute;
    background-color: white
  }
  .exampleSpan{
    line-height: 2;
  }
  .exampleDiv{
   width: 100px;
   float: right;
   margin-left: 2px;
   margin-bottom: 6px;
  }
  .el-input--mini .el-input__inner {
    height: 24px;
    line-height: 28px;
  }
  .el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 24px;
 } 
 .el-table .cell {
    line-height: 20px;
 }
 .el-input__inner {
    height: 24px;
  }
  .has-gutter tr th{
    background-color: #ffffff;
  }
  .el-textarea__inner {
    font-size: 12px;
  }
  .paramsList{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 10px;
    height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 99%;
        li{
          height: 30px;
          line-height: 30px;
          cursor: pointer;
        }
    }
 
 }