/*主子表结构页面*/
.editForm{
  height: 100%;
  width: 100%;
  position: absolute;
  .editBox{
   height: 100%;
   padding: 38px 0 0;
   box-sizing: border-box ;
  }
  .operationBtn{
    float: left;
    margin-top: 0px;
    margin-right: 6px;
  }
  .el-tabs__item is-top is-active{
        border-bottom-color: #fff;
  }
  .editBoxDic{
   height: 100%;
   box-sizing: border-box ;
  }
  .el-button+.el-button {
    margin-left: 0px !important;
  }
  .el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
    line-height: 28px;
    width: 50%;
  }
  .editBoxRow{
    margin: -38px 0 0;
  }
  .editBoxTable{
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .editBoxForm{
    height: 220px
  }
  /*收缩框与表格的容器*/
  .editBoxTable-box{
    height: 100%; 
    width: 100%;
    /*padding: 200px 0 0; */
    box-sizing: border-box ;
  }
  /*收缩框*/
  .editBoxTable-collapse{
   /* height: 200px;
    margin: -200px 0 0;
    overflow: auto;
    position: absolute;*/
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 32px;
    height: 220px;
    /*bottom: 300px;*/

    /*background-color: red;*/
  }
  /*表格*/
  .editBoxTable-tabs{
    top: 252px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    /*height: 100%;*/
    .el-table--border{
      border-right: none;
      border-bottom: 1px solid #ebeef5; 
    }
  }
  .editBoxTable-dics{
    bottom: 30px;
  }
  .editBomTable{
    padding: 26px 0 0;
    box-sizing: border-box ;
     .operationBomBtn{
       background-color: #f5f7fa80;
       height: 26px;
       margin: -26px 0 0;
      }
      .editBomTable-table{
        width: 100%;
        position: absolute;
        top: 26px;
        bottom: 0px;
      }
      .el-button--mini {
        padding: 6px 18px;
     }
      .el-checkbox__input.is-disabled .el-checkbox__inner {
        background-color: #ffffff;
        border-color: #dcdfe6;
        cursor: not-allowed;
      }
      .el-form-item--mini .el-form-item__content {
          line-height: 28px;
          width: 50%;
      }
 
      .schedulingScheme{
        margin-left:20px;
        float: left;
      }
      .el-input--mini .el-input__inner {
        height: 25px;
        line-height: 25px;
      }
      .el-table .cell {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 25px ;
      }
      .el-table th>.cell {
        position: relative;
        word-wrap: normal;
        text-overflow: ellipsis;
        vertical-align: middle;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .el-table--border td {
        border-right: 1px solid #e0e2e4;
      }

      .el-table td, .el-table th.is-leaf {
        border-bottom: 1px solid #e0e2e4;
      }
      .el-table th {
        padding: 2px 0;
        border-right: 1px solid #e0e2e4;
      }
      .el-table .caret-wrapper {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 22px;
        width: 10px;
        vertical-align: middle;
        cursor: pointer;
        overflow: initial;
        position: relative;
        float: right;
      }
      .el-table .sort-caret.descending {
        border-top-color: #c0c4cc;
        bottom: 0px;}
        .el-table .sort-caret.ascending {
          border-bottom-color: #c0c4cc;
          top: 0px;
        }
      }
      .el-pagination {
        white-space: nowrap;
        color: #303133;
        font-weight: 700;
      }
      .el-table::before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px;
      }
      .form{
        min-width: 400px;
        margin-top: 4px;
        .el-select
        {
         width:100%
      }
      .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: 100%;
      }
      .el-cascader
      {
        width:100%
      }
  }
  .el-select {
    width: 100%;
  }
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-bottom: 8px;
    width: 90%;
    margin-left: 5%;
    height: 28px;
    }
  .el-card {
    border: 0px solid #ebeef5;
    height:100%;
   }
  .el-collapse{
     border-top: 0px solid #ebeef5; 
     border-bottom: 0px solid #ebeef5; 
     margin-bottom: 26px;
  }
  .el-collapse-item__wrap {
      border-bottom: 0px solid #ebeef5;
  }
  .el-tabs__header {
        margin: 0 0 0px; 
  }
  .el-form-item {
       margin-bottom: 0px; 
  }
    
  .el-card__body{
    padding: 5px 20px !important;
  }
  .el-tabs__nav{
    margin-left: 70px;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__nav{
    border-radius: 0px;
  }
  .el-tabs__nav-scroll {
    height: 30px;
  }
  .el-tabs__item{
    margin: -10px -1px 0 !important;
    line-height: 50px;
  }
  .el-collapse-item__arrow{
    line-height: 20px;
  }
  .el-collapse-item__header{
    line-height: 20px;
    height: 20px;
  }
  .el-collapse-item__content{
    padding-bottom: 0px !important; 
  }
  .el-form-item__label{
    line-height: 32px
  }
  .el-tab-pane{
    width: 100%;
    height: 100%;
  }
  .el-tabs__content {
    overflow: hidden;
    width: 100%;
    top: 30px;
    bottom: 0px;
    position: absolute;
  }
  .pages {
    position: absolute;
    height: 30px;
    bottom: 0px;
    width: 100%;
    text-align: right;
    border-bottom: 0px;
  }
}